<div id="slide-step2" >
    <form name="itemRuleForm" layout-padding novalidate>
        <div layout="row" layout-padding>
            <p>我要设定商品的价格：</p>
            <md-input-container flex>
                <label>最高价格(&#165;)</label>
                <input ng-model="item.maxPrice" ng-required="true" />
            </md-input-container>
            <md-input-container flex>
                <label>最低价格(&#165;)</label>
                <input ng-model="item.minPrice" ng-required="true"/>
            </md-input-container>
        </div>
        <div layout="row" class="float-right">
            <md-button class="md-raised" ng-click="lastStep()">上一步</md-button>
            <md-button class="md-raised md-primary" ng-click="verifyAndNextStep(item.minPrice, item.maxPrice)"
                       ng-disabled="!itemRuleForm.$valid">下一步</md-button>
        </div>
    </form>
</div>
