<div>
    <div layout="column" id="item-view" ng-controller="ItemViewCtrl">

        <div layout="row" layout-margin layout-padding >
            <div flex="40" ng-include="'pages/item_view/views/itemImg.html'"></div>
            <div flex="60" ng-include="'pages/item_view/views/itemInfo.html'"></div>
        </div>
    <!--    <md-divider></md-divider>-->

        <!--<div ng-include="'pages/item_view/views/itemSeller.html'"></div>-->
<!--        <md-divider></md-divider>
        <div ng-include="'pages/item_view/views/itemComment.html'"></div>-->
    </div>
</div>


