#item-view {
    margin-top: 100px;
    margin-left: 80px;
    max-width:2000px;
    min-width:1400px;
}

#item-img {
    width: 450px;
    height: auto;
    margin: auto;
}

/*Limit image size*/
.flexslider {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.flexslider .slides img {
    max-width: 400px;
    max-height: 400px;

    margin: auto;
}


#item-thumbnail {
    float: left;
}

#item-thumbnail img {
    vertical-align: top;
}

/*Item Info*/
#item-info {
    margin: auto;
}

#item-info #clock {
    margin-top: 30px;
}

/*
#item-info .itemClock {
    margin-left: -100px;
    margin-right: auto;
    transform: scale(.70);
    height:100px;
    width: 800px;
}
*/

#item-info #itemName {
    height:50px;
    font-size: 2em;
}

#item-info #itemDesc {
    height:150px;
    font-size:1em;
}

.itemRateBtn {
    background: none;
    border: none;
    box-shadow: none;
    color: #d3d3d3;
    font-size: 3.05em;
    padding: 0px 25px 0px 25px;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
blockquote p {
    display: inline;
}

#itemRate {
    width: -webkit-max-content;
    margin-left : auto;
    margin-right : auto;
}


#item-recommendations {
    /*
    float: left;
    */
    margin-top: 50px;
}


/*Seller profile*/
#user-profile {
    float: left;
    margin-top:20px;
    margin-bottom:20px;
    width: 100%;
    height: 100%;

}
#user-profile-left {
    height: inherit;
}
#sellerRate {
    width: -webkit-max-content;
    margin-left : -25px;
    margin-right : auto;
}
#profileUpper{
    height:150px;
}
#profileLower{
    height:50px;
}
#profileBtn {
    width: -webkit-max-content;
    margin:auto;
}
#profileBuyBtn{
    width:310px;
    height: 50px;
}
.sellerRateBtn {
    background: none;
    border: none;
    box-shadow: none;
    color: #d3d3d3;
    font-size: 2.5em;
    padding: 0px 25px 0px 25px;
}
#sellerPic {
    height : 160px;
}
#sellerStarGroup {
    height: 40px;
}
.sellerStars{
    background: none;
    border: none;
    box-shadow: none;
    color: #d3d3d3;
    font-size: 2em;
    margin-bottom:0px;
    /*    padding: 5px 0px 0px 0px;*/
}

/*Item Comments*/

#item-comments {
    margin-top: 50px;
}
.ng-invalid.ng-dirty {
    border-color: red;
}

.ng-valid.ng-dirty {
    border-color: green;
}

.lineDivider hr{
    border-color:#d3d3d3;
    margin:10px 5px 15px 5px;
}


#item-comments {
    position:relative;

}

#commentTop{
    margin-top: 15px;

}

.commentActBtn {
    background: none;
    border: none;
    box-shadow: none;
    color: #d3d3d3;
}

#commentDateText {
    color:#d3d3d3;
}
