<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>SystemServiceServlet</servlet-name>
		<servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
		<init-param>
			<param-name>services</param-name>
			<param-value/>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>SystemServiceServlet</servlet-name>
		<url-pattern>/_ah/spi/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RemoteApi</servlet-name>
		<servlet-class>com.google.apphosting.utils.remoteapi.RemoteApiServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemoteApi</servlet-name>
		<url-pattern>/remote_api</url-pattern>
	</servlet-mapping>
<!-- 	<servlet>
		<servlet-name>GetTopicList</servlet-name>
		<servlet-class>com.ecnu.sei.manuzhang.servlet.GetColumnServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetTopicList</servlet-name>
		<url-pattern>/gettopiclist</url-pattern>
	</servlet-mapping>
 -->	
   <servlet>
   		<servlet-name>GetTopicIntroduction</servlet-name>
		<servlet-class>com.ecnu.sei.manuzhang.servlet.GetTopicIntroServlet</servlet-class>
   </servlet>
   	<servlet-mapping>
		<servlet-name>GetTopicIntroduction</servlet-name>
		<url-pattern>/gettopicintro</url-pattern>
	</servlet-mapping>

   <servlet>
		<servlet-name>GetTopicByTime</servlet-name>
		<servlet-class>com.ecnu.sei.manuzhang.servlet.GetTopicByTimeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetTopicByTime</servlet-name>
		<url-pattern>/gettopicbytime</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetTopicByPlace</servlet-name>
		<servlet-class>com.ecnu.sei.manuzhang.servlet.GetTopicByPlaceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetTopicByPlace</servlet-name>
		<url-pattern>/gettopicbyplace</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>GetTopicByMonthAtPlace</servlet-name>
		<servlet-class>com.ecnu.sei.manuzhang.servlet.GetTopicByMonthAtPlaceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetTopicByMonthAtPlace</servlet-name>
		<url-pattern>/gettopicbymonthatplace</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetTopicByEmotion</servlet-name>
		<servlet-class>com.ecnu.sei.manuzhang.servlet.GetTopicByEmotionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetTopicByEmotion</servlet-name>
		<url-pattern>/gettopicbyemotion</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetTopicByEmotionCategory</servlet-name>
		<servlet-class>com.ecnu.sei.manuzhang.servlet.GetTopicByEmotionCategoryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetTopicByEmotionCategory</servlet-name>
		<url-pattern>/gettopicbyemotioncategory</url-pattern>
	</servlet-mapping>
 	<servlet>
		<servlet-name>GetTopicCountServlet</servlet-name>
		<servlet-class>com.ecnu.sei.manuzhang.servlet.GetTopicCountServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetTopicCountServlet</servlet-name>
		<url-pattern>/gettopiccount</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetTopicPostsServlet</servlet-name>
		<servlet-class>com.ecnu.sei.manuzhang.servlet.GetTopicPostsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetTopicPostsServlet</servlet-name>
		<url-pattern>/gettopicposts</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DeleteEntitiesServlet</servlet-name>
		<servlet-class>com.ecnu.sei.manuzhang.servlet.DeleteEntitiesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteEntitiesServlet</servlet-name>
		<url-pattern>/truncate</url-pattern>
	</servlet-mapping>
</web-app>